{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [ "last 2 versions", "safari >= 7", "> 5%" ]
      },
      "exclude": ["transform-es2015-modules-commonjs"],
      "modules": "umd"
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      helpers: false,
      polyfill: false,
      regenerator: true
      }],
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-es2015-for-of",
    "transform-object-rest-spread",
    "transform-regenerator",
    "syntax-async-functions",
  ]
}
